* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    margin: auto;
}

.container {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.small-margin-top {
    margin-top: 2rem;
}

.grid-row {
    /*
    css grid/table is probably the way to go, but I feel that more
    developers are familiar with flex, it will be easier to maintain.
    Table is a good choice for accessibility.
    */
    flex: 1;
    display: flex;
}

.grid-cell {
    box-sizing: content-box; /*small hack to make sure that the borders are padded*/
    border: 1px solid black;
    margin: 0.2rem;
    flex: 1;
    background: transparent;
    padding: 0;
}

.grid-cell:hover[data-cell-empty='true'] {
    background: rgba(12, 189, 6, 0.5);
    cursor: pointer;
}

button[disabled].marker {
    color: black;
}

.game-size-3 .marker, .game-size-4 .marker {
    font-size: 2.5rem;
}

.game-size-4 .marker, .game-size-5 .marker {
    font-size: 2rem;
}

.game-size-6 .marker {
    font-size: 1.5rem;
}

/*TODO: add support for medium devices*/
@media screen and (max-width: 320px) {
    .container {
        width: 10rem;
        height: 10rem;
    }

    .game-size-3 .marker, .game-size-4 .marker {
        font-size: 1.5rem;
    }

    .game-size-4 .marker, .game-size-5 .marker {
        font-size: 1rem;
    }

    .game-size-6 .marker {
        font-size: 0.5rem;
    }
}
